body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-container h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 15px;
    color: #666;
}
.form-group .form-input{
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group .form-select{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;   
}
.form-group .form-submit{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
}